@font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFo Sans 1.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFo Sans 2.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFo Sans 3.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFo Sans 4.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFo Sans 5.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFo Sans 6.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFo Sans 7.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'CoFo Sans';
    src: url('../fonts/CoFo Sans 8.woff2') format('woff2');
    font-weight: 800;
}
